@{
    @* Makes the footer only be sticky on the front pages *@
    ViewData["BodyClass"] = "home-footer";


    ViewData["Title"] = "Announcements";
}



<div class="container">
    <h1 class="text-center mb-1 main-heading-margins">Connect With Brands</h1>
    <p class="text-center mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        <br />ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        <br />exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <!-- Button for Create Announcement -->
    <div class="text-center mb-5">
        <a asp-controller="Announcement" asp-action="Create"
            class="btn btn-primary px-5 py-2">
            Create Announcement
        </a>
    </div>
</div>


