@model InfiniteInfluence.Website.Models.CompanyCreateViewModel

@{
    ViewData["Title"] = "Create Company Profile";
}


<h1 class="text-center mb-1 main-heading-margins">Create Company Profile</h1>
<p class="text-center mb-5 main-introduction-margins">
    Fill out the empty fields in order to create a company profile, and connect with influencers looking for partnerships all across the globe.
    <br />Note the image on your profile will help influencers get an idea if you are a fit.
</p>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- ACCOUNT SECTION -->
    <h2 class="text-center mb-1">General</h2>
    <p class="text-center mb-4">Fill out the general information fields to give influencers an idea of who you are and what demographic you belong to.</p>
    
    <div class="container mb-5">
        <div class="row">

            <div class="col-md-6 mb-3">
                <label asp-for="LoginEmail" class="control-label"></label>
                <input asp-for="LoginEmail" class="form-control" type="email" placeholder="What is your e-mail address?"/>
                <span asp-validation-for="LoginEmail" class="text-danger"></span>
            </div>
            
            <div class="col-md-6 mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" placeholder="What should yout password be?"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
    
        </div>
    </div>

    <!-- GENERAL SECTION -->
    <h2 class="text-center mb-1">General</h2>
    <p class="text-center mb-4">Fill out the general information fields to give influencers an idea of who you are and what demographic you belong to.</p>

    <div class="container mb-5">
        <div class="row">

            <div class="col-md-6 mb-3">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" placeholder="What is the name of your company name?" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="CeoName" class="control-label"></label>
                <input asp-for="CeoName" class="form-control" placeholder="What is the name of the companies CEO?" />
                <span asp-validation-for="CeoName" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="DateOfEstablishment" class="control-label"></label>
                <div class="datetime-wrapper">
                    <input asp-for="DateOfEstablishment" type="date" class="form-control datepicker" placeholder="What is the date of establishment?" />
                </div>
                <span asp-validation-for="DateOfEstablishment" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="OrganisationNumber" class="control-label"></label>
                <input asp-for="OrganisationNumber" class="form-control" placeholder="What is the organisation number?" />
                <span asp-validation-for="OrganisationNumber" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="StandardIndustryClassification" class="control-label"></label>
                <input asp-for="StandardIndustryClassification" class="form-control" placeholder="What are the four numbers of your SIC?" />
                <span asp-validation-for="StandardIndustryClassification" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="WebsiteUrl" class="control-label"></label>
                <input asp-for="WebsiteUrl" class="form-control" placeholder="What is your company homepage url?" />
                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="CompanyEmail" class="control-label"></label>
                <input asp-for="CompanyEmail" class="form-control" placeholder="What is your company email?" />
                <span asp-validation-for="CompanyEmail" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="CompanyPhoneNumber" class="control-label"></label>
                <input asp-for="CompanyPhoneNumber" class="form-control" placeholder="What is your company phone number?" />
                <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" placeholder="Which country is your company registered in?" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" placeholder="Which state is your company registered in?" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" placeholder="Which city is your company registered in?" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" placeholder="Which address is your company registered in?" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" placeholder="Which is your preference language?" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>

        </div>
    </div>

    <!-- CONTACT SECTION -->
    <h2 class="text-center mb-1">Contact Information</h2>
    <p class="text-center mb-4">Your contact details will only be shown to influencers after you have accepted their application, else they are hidden from public view.</p>

    <div class="container mb-5">
        <div class="row">
           
            <div class="col-md-6 mb-3">
                <label asp-for="ContactPerson" class="control-label"></label>
                <input asp-for="ContactPerson" class="form-control" placeholder="What is the name of your contact person?" />
                <span asp-validation-for="ContactPerson" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="ContactEmailAddress" class="control-label"></label>
                <input asp-for="ContactEmailAddress" class="form-control" type="email" placeholder="What is your contact persons e-mail address?" />
                <span asp-validation-for="ContactEmailAddress" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label asp-for="ContactPhoneNumber" class="control-label"></label>
                <input asp-for="ContactPhoneNumber" class="form-control" placeholder="What is your contact person phone number?" />
                <span asp-validation-for="ContactPhoneNumber" class="text-danger"></span>
            </div>

        </div>
    </div>

    <!-- COMPANY DOMAIN SECTION -->
    <h2 class="text-center mb-1">Company Domains</h2>
    <p class="text-center mb-4">Fill out the domain fields with the categories your company is branding itself on and could use to collaborate with influencers e.g. Fashion, Clothing and Lifestyle.</p>
    
    <div class="container mb-5">
        <div class="row">
            
            <div class="col-md-4 mb-3">
                <label asp-for="Domain1" class="control-label"></label>
                <input asp-for="Domain1" class="form-control" placeholder="In what domain can you influence people?" />
                <span asp-validation-for="Domain1" class="text-danger"></span>
            </div>
            
            <div class="col-md-4 mb-3">
                <label asp-for="Domain2" class="control-label"></label>
                <input asp-for="Domain2" class="form-control" placeholder="In what domain can you influence people?" />
                <span asp-validation-for="Domain2" class="text-danger"></span>
            </div>
            
            <div class="col-md-4 mb-3">
                <label asp-for="Domain3" class="control-label"></label>
                <input asp-for="Domain3" class="form-control" placeholder="In what domain can you influence people?" />
                <span asp-validation-for="Domain3" class="text-danger"></span>
            </div>

        </div>
    </div>

    <!-- BIOGRAPHY SECTION -->
    <h2 class="text-center mb-1">Biography</h2>
    <p class="text-center mb-4">Add some information about your company and what its about, and what type of collaboration your company is looking for.</p>
    
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-12">
                <label asp-for="Biography" class="form-label"></label>
                <textarea asp-for="Biography" class="form-control" maxlength="1000" rows="5" placeholder="What are your interests and what products are you passionate about? (max 500 characters)"></textarea>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
        </div>
    </div>


    <!-- BUTTON SUBMIT -->
    <div class="text-center mb-5">
        <input type="submit" value="Create Profile" class="btn btn-primary" />
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
