@model InfiniteInfluence.Website.Models.FindProfileViewModel;

@{
    @* Makes the footer stay at the bottom - sticky footer *@
    ViewData["BodyClass"] = "sticky-footer";
    ViewData["Title"] = "Find Your Profile";
}


<div class="container">
    <h1 class="text-center mb-1 main-heading-margins">Find Your Profile</h1>
    <p class="text-center mb-5">
        Enter your user Id below to find your profile.
    </p>

 @* The form uses POST for validation. If the UserId is valid,
   the controller redirects to ViewProfile with the id in the URL. 
   After validation, the controller performs a RedirectToAction to:
   /Influencer/ViewProfile?userId=...  so the profile is displayed through a GET request.*@
    <form asp-controller="Influencer" asp-action="FindProfile" method="post">

  

    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <label asp-for="UserId" class="form-label"></label>
            @* inputmode ="numeric" adds numpad on phone
            type="number" restricts to numbers only in the input field *@
            <input asp-for="UserId" class="form-control" type="number" inputmode="numeric" placeholder="Please enter your influencer Id" />

            @* error message *@
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
    </div>

    <!-- Button for Find profile -->
    <div class="text-center mb-5">
        <button type="submit" class="btn btn-primary px-5 py-2">
            Find profile
        </button>
    </div>
</form>

</div>