html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    
}

html {
    position: relative;
    min-height: 100%;
}



/*---------------------*/
/* - Main components - */
/*---------------------*/

/*Main colors*/
:root {
    --bs-body-color: #fff !important; /*Font color*/
    --bs-body-bg: #363042 !important; /*Background color*/
}

/*Link - color changes*/
a {
    color: #A494FF !important;
}

/*Link - hover color effect*/
a:hover {
    color: #8874C3 !important;
}


/* Hero - Determines the height by filling out the entire viewport's height minus the footer bar's height which is 258px */
.container-hero {
    display: flex;
    width: 100% !important;
    min-height: calc(100vh - 258px); /* 258px - footer bar height */
}


/*Hero - Makes the div have no margins and a height filling out the area */
.container-hero-div {
    width: 100% !important;
    display: flex;
    /* Makes the placement of the items and flow start from the top specifically*/
    align-items: flex-start;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}


/* Adds padding for the div container holding the hero section */
.container-hero-padding {
    padding-left: 70px !important;
    padding-right: 70px !important;
}

/* our starry background picture in the right side side's div container */
.bg-star-login {
    background-image: url('../img/hero-image_v02.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    height: 100%;
    margin-top: 0 !important;
}

.col-lg-left {
    flex: 0 0 auto;
    width: 40%;
}

.col-lg-right {
    width: 60%;
    display: flex;
    justify-content: center !important;
}



/*---------------------*/
/* - Menu navigation - */
/*---------------------*/

/*Nav - font color*/
.nav-link 
{
    color: #fff !important;
}

/*Nav - Hover effect*/
.nav-link:hover {
    color: #A494FF !important;
}

/*Nav - Add padding*/
.container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

/*Nav - changed burger menu to white*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/*Nav - removed square around burger menu*/
.navbar-toggler {
    border-color: none !important; /* removed outline */
}

/*Nav - removed square around burger menu in hover mode*/
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important; /* removed hover outline */
    box-shadow: none !important; /* removed hover shadow */
    border-color: none !important; /* removed hover border-color */
}

/* Nav - profile and company icons */
.nav-icon-link {
    font-size: 1.4rem;
    color: #ffffff !important;
    padding-left: 0px;
    padding-right: 0px;
}




/*-----------*/
/* - Login - */
/*-----------*/

/*Login - layout for login*/
.container-login {
    align-items: center !important;
    width: 25vw;
    padding-top: 50px !important;
    padding-bottom: 70px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-left: 180px;
}

/* Remember me & Forgot Password text coloring */
.remember-label, .forgot-link {
    color: #9190AA !important;
    font-size: 12px;
}

.forgot-link {
    text-decoration: underline;
    font-weight: bold;
}

.login-introtext-topmargin-spacer
{
    margin-top: 64px;
}

.login-topbutton-topmargin-spacer {
    margin-top: 32px;
}



/*--------------------*/
/* - Login Checkbox - */
/*--------------------*/

/* Changes the visuals of the checkbox to match with our mockup */
.remember-checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #9190AA;
    border-radius: 4px;
    background-color: #3C364C;
    cursor: pointer;
    position: relative;
}


/* This sets the check mark in the right spot and colors it purple */
.remember-checkbox:checked::after {
    content: "✔";
    color: white;
    font-size: 10px;
    position: absolute;
    top: -2px;
    left: -1px;
}



/*-----------*/
/* - Input - */
/*-----------*/

/*Login - form background color and padding*/
.form-floating > .form-control {
    height: 50px !important;
    margin-bottom: 10px;
    border-radius: 10px !important;
    background: #3C364C;
    border: 1px solid #9690AA;
    padding: 10px !important;
    line-height: 1px !important;
}

/*input fields inputted values text coloring */
input.form-control, textarea.form-control, select.form-control {
    color: #ffffff !important;
}

.form-control {
    border-radius: 10px !important;
    background: #3C364C;
    border: 1px solid #9690AA;
}


.form-control:focus {
    border-radius: 10px !important;
    background: #3C364C;
    border: 1px solid #9690AA;
}

/*Form - center text*/
.form-floating > label {
    padding: 11px !important;
}


/* Makes the input field's box / border glow around the borders when interacted with */
input.form-control:focus, textarea.form-control:focus, select.form-control:focus {
    border-color: #c29bff !important;
    box-shadow: 0 0 0 0.1rem rgba(194, 155, 255, 0.35) !important;
    outline: none !important;
}



/*----------------------------*/
/* - Input Browser Autofill - */
/*----------------------------*/


/* Stylling for the autofill fields - this is only tested in edge, safari and chrome but not firefox 
    this can be done in a future iteration if anything.
*/
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #3C364C !important;
    -webkit-text-fill-color: #ffffff !important;
    border: 1px solid #9690AA !important;

    /* Adding transition supposingly solves a yellow highlighting in chrome */
    transition: background-color 9999s ease-in-out 0s;
    caret-color: #ffffff !important;
}


/* Styling for the autofill fields, when the field is active and in-focus.
    Like the other section just above, this is not tested in firefox.
*/
input:-webkit-autofill:focus, textarea:-webkit-autofill:focus, select:-webkit-autofill:focus {
    background-color: #3C364C !important;
    -webkit-text-fill-color: #ffffff !important;
    border: 1px solid #c29bff !important;
    box-shadow: 0 0 0 0.1rem rgba(194, 155, 255, 0.35) !important;
}


/*----------------------------------*/
/* - Input Field Dropdown Styling - */
/*----------------------------------*/


/* The custom dropdown input field */
.custom-dropdown {
    background-color: #3C364C;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #9690AA;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Changes the text color and background color for the dropdown options */
.custom-dropdown option {
    background-color: #363042;
    color: #ffffff;
}

/* The container where we will place our arrow icon within */
.custom-dropdown-container {
    position: relative;
}

/* The light purple arrow that should be vertically centered to the right in our box */
.custom-dropdown-container::after {
    /* The content represents an arrow that point downward */
    content: "\f0d7";
    font-family: "Font Awesome 6 Free";
    font-size: 20px;
    font-weight: 900;
    color: #C7A4FF;
    position: absolute;
    right: 32px;
    top: 50%;
    /* Adjusts the vertical position to make the arrow's position in the input field look less akwardly placed */
    transform: translateY(5%);
}


/* Makes the input field's box / border glow around the borders when interacted with */
.custom-dropdown:focus {
    background-color: #3C364C !important;
    -webkit-text-fill-color: #ffffff !important;
    border: 1px solid #c29bff !important;
    box-shadow: 0 0 0 0.1rem rgba(194, 155, 255, 0.35) !important;
}


/*------------*/
/* - Button - */
/*------------*/
/*Button - Color*/
.btn-primary {
    background-color: #6D54B5 !important;
    border: 0px !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    text-transform: capitalize;
}

/*Button - Hover*/
.btn-primary:hover {
    background-color: #402864 !important;
    border: 0px !important;
    text-transform: capitalize;
}

/*Adding buttom padding to the page*/
.pb-3 {
    padding-bottom: 100px !important;
}

.btn-secondary {
    background-color: #2C2138 !important;
    border: 1px solid #6D54B5 !important;
    border-radius: 10px !important;
    font-size: 16px !important;
}

.btn-secondary:hover {
    background-color: #402864 !important;
    border: 1px solid #402864 !important;
/*    color: #ffffff;*/
}


/* Ensures that all primary buttons including anchors have white text*/
a.btn-primary, a.btn-primary:visited, a.btn.btn-primary {
    color: #ffffff !important;
}

/* Makes the button hover text color stay white */
a.btn-primary:hover, a.btn-primary:focus {
    color: #ffffff !important;
}

/* Adds a purple glow instead of the blue one when the button is pressed */
button:focus, button:active, a.btn-primary:focus, a.btn-primary:active, a.btn-secondary:focus, a.btn-secondary:active {
    outline: none !important;
    box-shadow: 0 0 0 0.1rem rgba(194, 155, 255, 0.35) !important;
}



/*--------------------*/
/* - Footer styling - */
/*--------------------*/

/*Footer - color, border and position change*/
footer {
    background-color: #2C2138;
    text-align: left;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
}

/*Footer - adds more padding and make the width fill the entire width*/
.container-footer {
    padding-left: 40px !important;
    padding-right: 0px !important;
}

.container-copyright {
    padding-top: 8px;
    padding-bottom: 0px;
    font-size: 12px;
}


/*Footer - change padding for the links*/
.footer[b-3kehg3qema] {
    line-height: 22px !important;
}

.footer-heading {
    color: #ffffff !important;
}

/*Nav - font color*/
.footer-link {
    color: #fff !important;
    padding-left: 0px !important;
    text-decoration: none !important;
}

/*Nav - Hover effect*/
.footer-link:hover {
    color: #A494FF !important;
}

/*Footer - line above privary*/
.border-top {
    border-top: 1px solid #363042 !important;
}

.site-footer {
    z-index: 1000;
    width: 100% !important;
    left: 0;
    right: 0;
    overflow-x: hidden !important;
}

/* Sticky footer ONLY for frontpage */
body.home-footer .site-footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
}

/* Standard footer for every page */
body:not(.home-footer) .site-footer {
    position: static !important;
}



/*-----------*/
/* - color - */
/*-----------*/
.txt-gray {
    color: #B1B1B1;
}

.bg-dark-purple {
    background-color: #2C2138;
}



/*---------------------*/
/* - Heading Styling - */
/*---------------------*/

.main-heading-margins {
    margin-top: 120px;
}

.main-introduction-margins {
    margin-bottom: 96px !important;
}




/*--------------------------*/
/* - Notification Styling - */
/*--------------------------*/


/* Notification container */
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #6C4ACD;
    color: white;
    padding: 16px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    min-width: 280px;
    z-index: 9999;
    opacity: 0;
    transform: translateX(100px);
    animation: slideIn 0.4s forwards;
}


.notification.hide {
    animation: slideOut 0.4s forwards;
}


/* Check mark icon) */
.notification-icon {
    font-size: 20px;
    margin-right: 16px;
    margin-left: 4px;
    color: #ffffff;
}


/* Tekst */
.notification-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #ffffff;
}


.notification-message {
    font-size: 14px;
    color: #ffffff;
}


/* Animation for sliding in the notification from the right side */
@keyframes slideIn 
{
    from 
    {
        opacity: 0;
        transform: translateX(100px);
    }

    to 
    {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Animation for sliding out the notification from the left side to the right */
@keyframes slideOut
{
    from 
    {
        opacity: 1;
        transform: translateX(0);
    }

    to
    {
        opacity: 0;
        transform: translateX(100px);
    }
}



/*---------------------------------------*/
/* - Input Field Calender Icon Styling - */
/*---------------------------------------*/


/* A wrapper class to be able to place an icon in the input field */
.datetime-wrapper {
    position: relative;
}

/* Hides the browser's blue icon from the input field */
.datetime-wrapper input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Adds our own arrow down icon to the input field at the right side */
.datetime-wrapper::after {
    /* This uses Font Awesome's calendar icon */
    content: "\f073";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #C8B5FF;
    pointer-events: none;
    font-size: 18px;
}













/*--------------------------------*/
/* - 404 Not Found Page Styling - */
/*--------------------------------*/


/* 404 page styling */
.error-404-wrapper {
    min-height: calc(100vh - 258px); /* 258px - footer bar height */
    background-image: url('/img/Background_404NotFound.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    text-align: center;
    
    padding-top: 48px;
    color: #ffffff;
}

.error-404-code {
    font-size: 160px;
    font-weight: 700;
    color: #E0DAFF;
}

.error-404-text {
    margin-top: -8px;
    font-size: 24px;
    color: #ffffff;
}

.error-404-btn {
    margin-top: 24px;
    padding: 10px 28px;
    font-size: 16px;
}



/*-------------------------------*/
/* - Announcement Board styles - */
/*-------------------------------*/


/* The container holding the announcement board */
.announcement-board-container {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

/* The announcement board  */
.announcement-board {
    background-color: #3C364C;
    border-radius: 16px;
    padding: 24px 32px;
    width: min(100% - 35%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}


/* The header that contains the filtering of languages and the search filter */
.announcement-board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 14px;
}


.announcement-filter-left {
    display: flex;
    align-items: center;
    gap: 12px;
}


.announcement-filter-right {
    flex: 1;
    max-width: 280px;
}


.filters-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 25px;
    justify-content: flex-end;

}


/* Language dropdown */
.announcement-language-filter {
    max-width: 160px;
    color: #B1B1B1;
}


/* Search */
/*.announcement-search {
    background-color: #2C2138;
    border-radius: 10px;
    border: 1px solid #A494FF;
    color: #ffffff;
}*/



.announcement-search::placeholder {
    font-style: italic;
    font-size: 16px;
    color: #B1B1B1;
}


/* The announcement card itself */
.announcement-card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
/*    gap: 20px;*/
    background-color: #322A40;
    border-radius: 12px;
    padding: 18px 20px;
    margin-bottom: 12px;
}


/* The main cards */
.announcement-card-main {
    display: flex;
    gap: 24px;
    flex: 1;
}


/* Company Logo placeholder which uses a 1:1 height and width ratio */
.announcement-logo {
    width: 120px;
    height: 120px;

    min-width: 120px;
    min-height: 120px;
    

    border-radius: 8px;
    background-color: #2C2138;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}


/* The outer container of the announcement cards */
.announcement-card-body {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


/* The name of the company in the announcement card */
.announcement-company-name {
    font-size: 12px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B2B1C3;
    margin-bottom: 2px;
}


/* The title of the announcement in the announcement card*/
.announcement-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 0px;
    color: #ffffff;
}


/* The short introductionary / teaser description text in the announcement card */
.announcement-short-description {
    margin-bottom: 12px;
    font-size: 14px;
    color: #ffffff;
}


/* The subject label itself in the announcement card */
.announcement-subjects .label {
    font-weight: 700;
    color: #B2B1C3;
}


/* The section containing the various subjects in the announcement card */
.announcement-subjects {
    font-size: 12px;
    color: #B2B1C3;
    margin: 8px 0 0 0;
}


/* Defines the right side's contents of the card which holds the Read More button and Applicant counter */
.announcement-card-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 150px;
    text-align: right;
}


/* The current applicant / maximum applicant counter to the right inside of the announcement card */
.announcement-applicants {
    font-size: 12px;
    font-weight: 600;
    color: #B2B1C3;
}


/* The Read More button on the right side of the Announcement card */
.announcement-readmore-btn {
    margin-top: 8px;
    padding: 8px 26px;
}



/*-----------------------------------------------*/
/* - Announcement Details (Read / Details )    - */
/*-----------------------------------------------*/


/* The container that we hold all of the announcements and search filters within */
.announcement-details-wrapper {
    max-width: 980px;
    margin: 80px auto 120px auto;
    padding: 0 16px 40px 16px;
    color: #ffffff;
}

/* The container holding the main heading and name of company that created the announcement */
.announcement-details-header {
    text-align: center;
    margin-bottom: 32px;
}

/* The name of the company that created the announcement */
.announcement-details-company-name {
    color: #c29bff;
}

/* The 'by' in front of the company's name */
.announcement-details-subtitle {
    font-size: 32px;
}

/* Top row layout */
.announcement-details-top-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

/* Styling of the 'logo' which is currently just the associated company's userid */
.announcement-details-logo {
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 10px;
    background-color: #2C2138;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}

/* The general look of a card */
.announcement-details-card {
    background-color: #3C364C;
    border-radius: 12px;
    padding: 18px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* Applies flex to the card to make it take the remaining space */
.announcement-details-card-general {
    flex: 1;
}

/* Styling of the title / small heading of each card */
.announcement-details-card-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

/* This splits the layout inside of cards up in to two columns */
.announcement-details-two-column {
    display: flex;
    gap: 24px;
}

/* Applies*/
.announcement-details-info-group, .announcement-details-info-group-with-margin-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.announcement-details-info-group-with-margin-left {
    margin-left: 24px;
}

.announcement-details-info-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 0px;
}

/* This is used to add spacing between lines for easier grouping */
.announcement-details-spacer-row-two{
    margin-bottom: 47px;
}

/* This is used to add spacing between lines for easier grouping */
.announcement-details-spacer-row-one{
    margin-bottom: 24px;
}

/* Changes the coloring of the general text's assigned labels */
.announcement-details-info-row .label {
    color: #B2B1C3;
}

/* The middle row containing the collaboration and meta card */
.announcement-details-middle-row {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
}

/* Collaboration card grows */
.announcement-details-card-collab {
    flex: 2;
}

/* Small 'payment' card to the right side */
.announcement-details-card-meta {
    flex: 1;
}

/* The subjects card */
.announcement-details-subjects-bar {
    background-color: #3C364C;
    border-radius: 10px;
    padding: 18px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    margin-bottom: 24px;
}

/* the label that are in the subjects card*/
.announcement-details-subjects-bar .label {
    font-size: 24px;
    font-weight: 700;
}

/* Changes the regular text after the label of the subject section to be dimmed */
.announcement-details-subjects-bar .listofsubjects {
    color: #B2B1C3;
}

/* The additional info card */
.announcement-details-card-additional {
    margin-bottom: 32px;
}

/* Modifies the line-height of all body text */
.announcement-details-body-text {
    line-height: 1.6;
}

/* Used to place the submit application button in the middle */
.announcement-details-button-row {
    text-align: center;
}

/* Adjusts the submit application buttons placement */
.announcement-details-submit-application-btn {
    margin-top: 16px;
    padding: 10px 36px;
}


/* This part is not developed completely yet but contains some bonus css to help us */
/* Notice section */
/*.announcement-details-notice-section {
    text-align: center;
    margin-bottom: 32px;
}

.announcement-details-notice-title {
    font-size: 20px;
    letter-spacing: 0.16em;
    font-weight: 700;
    margin-bottom: 12px;
}*/

/* Contact card */
/*.announcement-details-card-contact {
    margin-bottom: 24px;
}

.announcement-details-contact-grid {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}
*/

/* Simple responsiveness */
/*@media (max-width: 900px) {
    .announcement-details-top-row,
    .announcement-details-middle-row {
        flex-direction: column;
    }

    .announcement-details-logo {
        margin: 0 auto;
    }

    .announcement-details-two-column {
        flex-direction: column;
    }
}*/
